.ffcg-logo {
    background-image: url(/ffcg-logo.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 110px;
    height: 50px;
    float: left;
}

.nav-back {
    background-image: url(/TopSymbol-bg.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #231f20;
    color: white;
    padding-bottom: 30px;
}

.nav-back .heading {
    margin: 0 auto;
    max-width: 800px;
    padding: 50px;
}

.nav {
    padding: 15px 25px;
}
