// Colors
$color-1: #5995da; /* Blue */
$color-2: #d6e9fe;
$color-3: #eeb75a; /* Yellow */
$color-4: #f5cf8e; /* Light yellow */
$color-5: #5d6063; /* Dark gray */
$color-6: #76aeed; /* Light blue */
$color-6: #7e8184; /* Light gray */
$color-7: #d55c5f; /* Red */
